<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Post</title>
</head>
<body>
  <h1>Add Post</h1>
  <form action="/posts/add" method="post">
    <label for="title">title</label><br>
    <input type="text" id="title" name="title" placeholder="Type title.."><br><br>
    <label for="imgUrl">imgUrl</label><br>
    <input type="text" id="imgUrl" name="imgUrl" placeholder="Input imgUrl.."><br><br>
    <label for="description">description</label><br>
    <textarea name="description" id="description" cols="30" rows="10" placeholder="Type decsription.."></textarea><br><br>
    <label for="repository">repository</label><br>
    <input type="text" id="repository" name="repository" placeholder="Input repository link.."><br><br>
    <br><br>
    <button type="submit">Submit</button>
  </form> 
  <%- include('partials/errors', { errors })  %>
</body>
</html>