<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h1>Register</h1>
  <form action="/register" method="post">
    <label for="username">username</label><br>
    <input type="text" id="username" name="username" placeholder="Type username.."><br><br>
    <label for="email">email</label><br>
    <input type="text" id="email" name="email" placeholder="Type email.."><br><br>
    <label for="password">password</label><br>
    <input type="password" id="password" name="password" placeholder="Type password.."><br><br>
    <br><br>
    <button type="submit">Submit</button>
  </form> 
  <%- include('partials/errors', { errors })  %>
</body>
</html>